*{
  box-sizing: border-box;
}

.my-container{
  width: 95%;
  margin: auto;
  height: 100%;
  /* border:2px solid green; */
  padding: 5px;
}




@keyframes coloranimation{
  0%{
    background-position: 0% 0%;
  }
  25%{
    background-position: 50% 50%;
  }
  50%{
    background-position: 100% 100%;
  }
  75%{
    background-position: 150% 150%;
  }
  100%{
    background-position: 200% 200%;
  }
}



@media screen and (max-width: 750px){
  .my-container{
    width: 100%;
    margin:0px;
    padding: 0px
  }
  .navbar{
    width: 100%;
  }
  .centeredbtn
  {
    width: 105px;
  }

  .postcards{
    flex-direction: column;
  }
  .postcards1{
    margin-top: 3%;
    width: 80%;
  }
  .SBSP{
    flex-direction: column;
  }
  .postimg{
    width: 90%;
  }
  .postdesc{
    width: 90%;
  }
}